<?xml version="1.0" encoding="UTF-8"?>
<component type="runtime">
  <id>org.gtk.Gtk3theme.{{ theme.name }}</id>
  <metadata_license>CC0-1.0</metadata_license>
  <name>{{ theme.nameFriendly }} Gtk Theme</name>
  <summary>Soothing pastel theme for GTK3 ({{ theme.nameShort }})</summary>
  <description>
      <p>Soothing pastel theme for GTK3 ({{ theme.nameShort }})</p>
  </description>
  <url type="homepage">https://github.com/catppuccin/gtk</url>
</component>
